<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Task</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.5/dist/css/uikit.min.css" />
</head>
<body>
    
    <section class="uk-section">
        <div class="uk-container">
            <div class="wrapper">
                <a class="uk-button uk-button-default uk-position-center" href="#modal-container" uk-toggle>Click here</a>
                <div id="modal-container" class="uk-modal-container" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-text-secondary">

                        {%for fincalc in data.financialRiskCal%}
                            
                            <div class="uk-flex finRow ">
                                <span class="label  uk-flex-middle uk-flex">
                                    <span class="uk-badge uk-background-secondary ">{{fincalc.no}}</span>
                                    <span class="uk-text-secondary fincalc-label uk-text-normal uk-padding">{{fincalc.label}}</span>
                                </span>
                                <div class="">
                                    <div class="uk-inline fin-input">
                                        <span class="uk-form-icon uk-form-icon-flip" >%</span>
                                        <input class="uk-input finInput" onkeydown="nullValidation(event)" onblur="findTotal()" type="tel" value={{fincalc.value}}>
                                    </div>
                                </div>
                            </div>
                        <hr>
                        {%endfor%}
                        <div class="uk-flex-right uk-flex total-flex">
                            <h3 class="uk-margin-right uk-inline uk-margin-right uk-text-bolder ">Total</h3>
                            <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon-flip" >%</span>
                                    <input class="uk-input uk-disabled " id="totalFinCal" type="number" value="100.0">
                            </div>  
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.5/dist/js/uikit-icons.min.js"></script>
    <script src="./scripts/script.js"></script>
</body>

</html>

{# hjb?jkkkkkkkkkk #}